* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}


#main {
    position: relative;
}


/* ************* ✅✅ Page1 ✅✅ ******************* */

#page1 {
    position: relative;
}

#nav {
    height: 5.375rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #E4EEF7;
    border-bottom: 1px solid color(display-p3 0.9028 0.9333 0.9639);
    background: #FFF;
    padding: 1.375rem 3.75rem;
}

#navLogo {
    cursor: pointer;
}

#navLogo>img {
    width: 9.3125rem;
    height: 2.5rem;

}

#navMenu>ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    list-style-type: none;
    color: #424459;

}


#navMenu>ul>li {
    color: #41445B;
    text-align: center;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5rem;

}

#navBtn {
    display: flex;
    align-items: flex-start;
    gap: 0.75rem;
}

#navBtn1>button {
    display: flex;
    padding: 0.687rem 0px;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border-radius: 50px;
    padding: 0.69rem;
    color: #4D61B3;
    border: 1px solid white;
    background-color: transparent;
    font-family: Inter;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.125rem;
}

#navBtn1>button>img {
    width: 1.25rem;
    height: 1.25rem;
}

#navBtn1>button:hover {
    border: 1px solid #4862b9;
}

#navBtn2>button {
    background-color: transparent;
    display: flex;
    padding: 0.75rem 1rem;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
    border-radius: 3.125rem;
    border: 1px solid #4862B9;
    color: #4D61B3;
    color: #4862B9;
    font-family: Inter;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.125rem;
}

#navBtn2>button:hover {
    background-color: #4D61B3;
    color: #fff;

}

#navBtn3>button:hover {
    color: #4D61B3;
    background-color: #fff;
}

#navBtn3>button {
    display: flex;
    padding: 0.75rem 1rem;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
    border-radius: 3.125rem;
    background: #4862B9;
    color: White;
    font-family: Inter;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.125rem;
    border: 1px solid #4862B9;
}

#main1 {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

/* ************* ✅✅ Page1>Left1 ✅✅ ******************* */

#left1 {
    background-color: #F6FAFD;
    /* width: 57vw; */
    border: 0px 1px 0px 0px;
    width: 51.25rem;
    flex-shrink: 0;
    flex-wrap: wrap;
}

#left1Data {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    position: relative;
    top: 10%;
}

#left1>h1 {
    position: relative;
    width: 12.25rem;
    height: 1.5rem;
    top: 3.5625rem;
    left: 32.875rem;
    color: #222;
    text-align: center;
    font-family: Permanent Marker;
    font-size: 1.1875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: 0em;
    text-align: center;
}

#left1>svg {
    position: absolute;
    width: 3.40625rem;
    height: 5.82331rem;
    flex-shrink: 0;
    stroke: #4862B9;
    top: 169.572021484375px;
    left: 606.78125px;
    border: 4px;
}

#left1Data>img {
    width: 30.12506rem;
    height: 16.25rem;
}

#left1DataHead {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.25rem;

}

#left1DataHead>h3 {
    width: 30.1875rem;
    color: #4862B9;
    text-align: center;
    font-family: Figtree;
    font-size: 1rem;
    font-style: normal;
    font-weight: 900;
    line-height: 1.5rem;
    letter-spacing: 0.05rem;
    text-transform: uppercase;

}

#left1DataHead>h1 {
    color: #232222;
    text-align: center;
    font-family: Raleway;
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.4375rem;
    letter-spacing: -0.0525rem;
}

#left1DataHead>p {
    width: 30rem;
    color: #5D5E6C;
    text-align: center;
    font-family: Poppins;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;

}

#left1Data>button {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    display: flex;
    padding: 1.25rem 1.5rem;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
    border-radius: 3.125rem;
    background: #4862B9;
    color: var(--neutral-white, #FFF);
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.35rem;
    gap: 0.25rem;
    border: 1px solid #4D61B3;

}

#left1Data>button:hover {
    color: #4D61B3;
    border: 1px solid #4D61B3;
    background-color: #fff;
}



/* ************* ✅✅ Page1>Right1 ✅✅ ******************* */


#right1 {

    border: 0px 0px 0px 1px;
    width: 38.75rem;

}

#right1>h1 {
    position: relative;
    color: #222;
    text-align: center;
    font-family: Permanent Marker;
    font-size: 1.1875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: 0em;
    text-align: center;
    width: 10.23475rem;
    height: 0.91294rem;
    flex-shrink: 0;
    color: #222;
    top: 68px;
    left: 121px;
}

#right1>svg {
    position: relative;
    width: 150.6332763963784px;
    height: 80.15897293978738px;
    top: 90.791015625px;
    left: 112.61328125px;
    width: 7.60206rem;
    height: 4.82244rem;

}

#right1Data {
    display: flex;
    /* width: 30.1875rem; */
    flex-direction: column;
    align-items: center;
    gap: 3.3rem;
    position: relative;
    /* left: 5rem; */
}

#right1Data>img {
    display: flex;
    width: 16.84631rem;
    height: 16.25rem;
    justify-content: center;
    align-items: center;
}

#right1DataHead {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    align-self: stretch;
    justify-content: center;

}

#right1DataHead>h3 {
    width: 30.1875rem;
    color: #4862B9;
    text-align: center;
    font-family: Figtree;
    font-size: 1rem;
    font-style: normal;
    font-weight: 900;
    line-height: 1.5rem;
    letter-spacing: 0.05rem;
    text-transform: uppercase;

}

#right1DataHead>h1 {
    width: 30.1875rem;
    color: #222;
    text-align: center;
    font-family: Raleway;
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.4375rem;
    letter-spacing: -0.0525rem;
}

#right1DataHead>p {
    width: 28.875rem;
    height: 7.5rem;
    color: #5D5E6C;
    text-align: center;
    font-family: Poppins;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;

}

#right1DataBtn {
    display: flex;
    width: 30.1875rem;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;

}

#right1DataBtn>button {
    display: flex;
    padding: 1.1875rem 1.5rem;
    justify-content: center;
    align-items: center;
    color: #4862B9;
    color: color(display-p3 0.302 0.3804 0.702);
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.35rem;
    gap: 0.75rem;
    background-color: transparent;
    border-radius: 50px;
    border: 1px solid #4862B9;

}

#right1DataBtn>button>img {
    width: 1.5rem;
    height: 1.5rem;
}

#right1DataBtn>button:hover {
    background-color: #4D61B3;
    color: #fff;
}

#right1DataBtn>button:hover img {
    filter: brightness(0) invert(1);
}

#right1DataBtn>a {
    color: #4D61B3;
    text-decoration: underline;
    width: Hug (99px);
    height: Hug (54px);
    padding: 16px 8px;
    border-radius: 50px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
}



/* ************* ✅✅ Page2 ✅✅ ******************* */

#page2 {
    padding: 2rem 7.5rem;
    display: flex;
    align-items: center;
    gap: 4rem;
    /* align-self: stretch; */
    background: #4862B9;
    flex-wrap: wrap;


}

#left2 {
    display: flex;
    width: 24.625rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;

}

#left2>h1 {
    color: #FFF;
    font-family: Raleway;
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.25rem;

}

#left2>p {
    width: 24.625rem;
    color: #F1F1F1;
    font-family: Poppins;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
}






#right2 {
    display: flex;
    padding: 0.5rem 0.5rem 0.5rem 2.5rem;
    justify-content: space-between;
    align-items: center;
    flex: 1 0 0;


}

#right2Email {
    display: flex;
    padding: 0.5rem 0.5rem 0.5rem 2.5rem;
    justify-content: space-between;
    align-items: center;
    flex: 1 0 0;
    border-radius: 3.125rem;
    background: #FFF;
}

#right2Email>input {
    color: #73758B;
    font-family: Inter;
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.75rem;
    outline: none;
    border: none;


}

#right2Email>input:focus {
    border: none;
    outline: none;
}

#right2Email>button {
    width: 3rem;
    height: 3rem;
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.15));
    background-color: #4862B9;
    border-radius: 50px;
    border: 1px solid #4862B9;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}

#right2Email>button>svg {
    width: 1.56519rem;
    height: 1.56519rem;
    flex-shrink: 0;
}

#right2Email>button:hover svg {
    transform: translateX(30%);
    transition: 0.3s ease-in;
}



/* ************* ✅✅ Page3 ✅✅ ******************* */


#page3 {
    display: flex;
    width: 90rem;
    padding: 6.25rem 7.5rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
    width: 75rem;


}

#page3Data {
    display: flex;
    width: 75rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;

}

#top3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.75rem;
    align-self: stretch;

}

#top3>h1 {
    align-self: stretch;
    color: #222;
    font-family: Raleway;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 3.5rem;
    letter-spacing: -0.075rem;
    width: 75rem;
}

#top3>p {
    width: 75rem;
    align-self: stretch;
    color: #42445B;
    font-family: Poppins;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.875rem;
}

#bottom3 {
    width: 75rem;
    display: flex;
    padding: 3rem;
    align-items: flex-start;
    gap: 2rem;
    align-self: stretch;
    border-radius: 0.75rem;
    border: 2px solid #DEDEDE;
    background: #FFF;
    flex-wrap: wrap;
}

#bottom3Left {
    width: 45.4375rem;
    height: 8.625rem;
}

#bottom3Left>h1 {
    width: 45.43575rem;
    color: #000;
    font-family: Figtree;
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 300;
    line-height: 2.1875rem;
}

#bottom3Left>h1>span {
    background-color: #FFBFBFCC;
}

#bottom3Left>img {
    position: relative;
    width: 2rem;
    height: 2rem;
    flex-shrink: 0;
    bottom: 3rem;
    left: 445px;
}

#bottom3Center>img {
    width: 0.125rem;
    height: 8.625rem;
}

#bottom3Right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.75rem;
    flex: 1 0 0;
}

#right3Head {
    display: flex;
    align-items: center;
    gap: 1rem;
}

#right3Head>img {
    width: 2rem;
    height: 2rem;
}

#right3Head>h2 {
    color: #000;
    font-family: Raleway;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.5rem;

}

#right3Para {
    color: #000;
    font-family: Poppins;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem;
    align-self: stretch;
}


/* ************* ✅✅ Page4 ✅✅ ******************* */


#page4 {
    background-color: #fff;
    display: flex;
    /* justify-content: center; */
    flex-wrap: wrap;
    padding: 6.25rem 7.5rem;
    align-items: flex-start;
    gap: 1.5rem;

}

.page4Box {
    display: flex;
    padding: 2.5rem 2rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
    border-radius: 0.75rem;
    border: 1px solid #D7E9F7;
    background: #F6FAFE;
    width: 24rem;
    height: 29.25rem;
    display: flex;
    height: 29.25rem;
    padding: 2.5rem 2rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;

}

.page4Box>img {
    width: 4rem;
    height: 4rem;
}

.page4Data {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    align-self: stretch;
    color: #424459;
}

.page4Data>h1 {
    align-self: stretch;
    color: #42445B;
    font-family: Raleway;
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.125rem;
}

.page4Data>p {
    align-self: stretch;
    color: #42445B;
    font-family: Poppins;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2rem;
}




/* ************* ✅✅ Page5 ✅✅ ******************* */


#page5 {
    display: flex;
    width: 100%;
    padding: 6.25rem 7.5rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 3.5rem;
    background-color: #F6FAFD;
}

#page5Data {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
    width: 75rem;
    flex-wrap: wrap;
}

#left5 {
    display: flex;
    width: 29.25rem;
    flex-direction: column;
    align-items: flex-start;



}

.left5CheckBox {

    display: flex;
    height: 4.5rem;
    padding: 0.625rem 0rem;
    align-items: center;
    gap: 1.5rem;
    align-self: stretch;
    border-bottom: 1px solid #E3E7EF;

}

.left5CheckBox>input {
    transform: scale(1.5);
    width: 1rem;
    height: 1rem;
    flex-shrink: 0;
}

.checked:checked::before {
    background-color: #334799;
    /* Set the background color when the checkbox is checked */
}


.left5CheckBox>label {
    color: #646464;
    font-family: Poppins;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5rem;

}

#right5 {
    display: flex;
    width: 37.75rem;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
}

#right5Data {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
    align-self: stretch;

}

#right5DataHead {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.75rem;
    align-self: stretch;


}

#right5DataHead>h4 {
    color: #4862B9;
    text-align: center;
    font-family: Figtree;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 900;
    line-height: 1.5rem;
    letter-spacing: 0.05625rem;
    text-transform: uppercase;
    text-transform: uppercase;
}

#right5DataHead>h1 {
    align-self: stretch;
    color: #222;
    font-family: Raleway;
    font-size: 3rem;
    font-style: normal;
    font-weight: 500;
    line-height: 3.5rem;
    letter-spacing: -0.09rem;

}

#right5DataInput {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
    align-self: stretch;

}

#right5DataInput>input {

    display: flex;
    height: 5rem;
    padding: 0.5rem 1.5rem;
    align-items: center;
    align-self: stretch;
    border-radius: 0.75rem;
    border: 1px solid #DEDEDE;
    background: #FFF;
    color: #73758B;
    font-family: Inter;
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.75rem;
}

#right5>button {
    color: white;
    display: flex;
    padding: 1.125rem 1.5rem;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
    align-self: stretch;
    border-radius: 3.125rem;
    background: #4862B9;
    font-family: Inter;
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2.25rem;
    border: 1px solid #4D61B3;

}

#right5>button:hover {
    border: 1px solid #4D61B3;
    background-color: white;
    color: #4D61B3;
}




/* ************* ✅✅ Page6 ✅✅ ******************* */

#page6 {
    display: flex;
    /* width: 90rem; */
    padding: 6.25rem 7.5rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 4.5rem;
    background: #FFF;

}

#head6 {
    display: flex;
    align-items: center;
    align-self: stretch;

}

#head6>h1 {
    width: 39.6875rem;
    color: #222;
    font-family: Raleway;
    font-size: 3rem;
    font-style: normal;
    font-weight: 500;
    line-height: 3.75rem;
    letter-spacing: -0.09rem;


}

#main6 {
    display: flex;
    align-items: flex-start;
    gap: 5.625rem;
    align-self: stretch;

}

#left6 {
    width: 26rem;
    height: 28.25rem;
    flex-shrink: 0;
    border-radius: 1rem;

}

#left6>img {
    width: Fill(678.15087890625px);
    height: 452px;
    left: -145.75px;
    border-radius: 16px;
}

#line6 {
    width: 43.375rem;
    height: 0.0625rem;
    background: #E3E3E3;
}

#right6 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex: 1 0 0;
    align-self: stretch;
}

#right6Head {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;

}

#right6Head>h1 {
    width: 34.3125rem;
    color: #42445B;
    font-family: Poppins;
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.75rem;

}

#right6Head>img {
    width: 3.24381rem;
    height: 2.5rem;

}

#right6Personal {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3.5rem;
}

#right6Data {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.75rem;
}

#right6Data>h4 {
    width: 32.5rem;
    color: #000;
    font-family: Raleway;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2rem;
}

#right6Data>h5 {
    width: 32.5rem;
    color: #66718D;
    font-family: Raleway;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.75rem;
}

#right6Btn {
    display: flex;
    align-items: flex-start;
    gap: 1rem;

}

#right6Btn>button {
    display: flex;
    padding: 1.25rem;
    align-items: flex-start;
    gap: 0.5rem;
    border-radius: 3.125rem;
    background: #FFF;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
    color: #4D61B3;
    border: none;
}

#right6Btn>button>svg {
    width: 2rem;
    height: 2rem;
}

#right6Btn>button:hover svg {
    transition: 0.4s ease-in;
    transform: translateX(30%);
}

#right6Btn>button:nth-child(1):hover svg {
    transition: 0.4s ease-in;
    transform: translateX(-30%);
}





/* ************* ✅✅ Page7 ✅✅ ******************* */

#page7 {
    display: flex;
    width: 100%;
    padding: 6.25rem 7.5rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 4.5rem;
    background: #F6FAFD;

}

#page7Head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    width: 75rem;

}

#page7Head>h1 {
    color: #222;
    font-family: Raleway;
    font-size: 3rem;
    font-style: normal;
    font-weight: 500;
    line-height: 3.75rem;
    letter-spacing: -0.09rem;


}

#page7Head>button {
    display: flex;
    padding: 1.1875rem 1.5rem;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
    border-radius: 3.125rem;
    border: 1px solid #4862B9;
    color: #4862B9;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.35rem;
    background-color: transparent;
}

#page7Head>button:hover {
    background-color: #4D61B3;
    color: #fff;
    border: 1px solid #fff;
    /* transition: 0.4s ease-in; */
}

#main7 {
    display: flex;
    /* width: 75rem; */
    align-items: flex-start;
    gap: 2.5rem;
    flex-wrap: wrap;


}

.main7Box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 0 0;

}

.main7BoxImg {
    height: 13.75rem;
    align-self: stretch;
    overflow: hidden;
    border-radius: 0.75rem 0.75rem 0rem 0rem;
}

.main7BoxImg>img {
    height: 13.75rem;
    width: 23.33rem;
    align-self: stretch;
    overflow: hidden;
    border-radius: 0.75rem 0.75rem 0rem 0rem;
}

.main7BoxImg:hover img {
    scale: 1.2;
    transition: 0.4s ease-in;
}

.main7BoxData {
    display: flex;
    padding: 2rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
    align-self: stretch;
    border-radius: 0.75rem;
    background: #FFF;
    box-shadow: 0px 8px 12px 0px rgba(0, 0, 0, 0.10);
    width: 23.33rem;

}

.main7BoxData>h1 {
    align-self: stretch;
    color: #222;
    font-family: Poppins;
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2rem;
}

.main7BoxData>a {
    display: flex;
    padding: 0.5rem 0rem;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
    color: #4862B9;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.35rem;
    text-decoration: none;
}

.main7BoxData>a>svg {
    width: 1.5rem;
    height: 1.5rem;
}

.main7BoxData>a:hover {
    color: #395ff7;
    text-decoration: underline;
}



/* ************* ✅✅ Page8 ✅✅ ******************* */

#page8 {
    display: flex;
    /* width: 90rem; */
    padding: 6.25rem 7.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 5rem;
    background: #FFF;

}

#page8>h1 {
    width: 42.75rem;
    color: #222;
    font-family: Raleway;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 3.75rem;
    letter-spacing: -0.075rem;
}

#main8 {
    display: flex;
    width: 70rem;
    height: 40.625rem;
    justify-content: space-between;
    align-items: flex-start;
}

.main9List1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
}

.main9List2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
}

.page8img1 {
    width: 14.33825rem;
    height: 6.25rem;
}

.page8img2 {
    width: 6.25rem;
    height: 6.25rem;
}

.page8img3 {
    width: 13.28981rem;
    height: 5.625rem;
    flex-shrink: 0;
}

.page8img4 {
    width: 6.25rem;
    height: 6.25rem;
}

.page8img5 {
    width: 10.12263rem;
    height: 6.25rem;
    flex-shrink: 0;
}

.page8img6 {
    width: 13.5025rem;
    height: 3.75rem;
    flex-shrink: 0;
}

.page8img7 {
    width: 8.24275rem;
    height: 6.25rem;
    flex-shrink: 0;
}

.page8img8 {
    width: 9.11038rem;
    height: 5.625rem;
}


/* ************* ✅✅ Page9 ✅✅ ******************* */

#page9 {

    display: flex;
    /* width: 90rem; */
    padding: 6.25rem 7.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 5rem;
    background: #F6FAFD;
}

#top9head>h1 {
    width: 42.75rem;
    color: #222;
    font-family: Raleway;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 3.75rem;
    letter-spacing: -0.075rem;
}

#top9img {
    display: flex;
    width: 75rem;
    justify-content: space-between;
    align-items: flex-start;
}

#top9img>img {
    width: 12.90444rem;
    height: 5.625rem;
    flex-shrink: 0;
}

.top9Img2>img {
    width: 13.28981rem;
    height: 5.625rem;
    flex-shrink: 0;
}

#line9 {
    width: 75rem;
    height: 0.0625rem;
    background: #C5DAEC;
}

#bottom9 {
    display: flex;
    width: 75rem;
    align-items: flex-end;
    gap: 3rem;

}

#bottom9Left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 3rem;
    flex: 1 0 0;

}

#left9Data {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.75rem;
    align-self: stretch;

}

#left9Data>h4 {
    color: #4862B9;
    text-align: center;
    font-family: Figtree;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 900;
    line-height: 1.5rem;
    letter-spacing: 0.05625rem;
    text-transform: uppercase;
    text-transform: uppercase;
}

#left9Data>h1 {
    align-self: stretch;
    color: #222;
    font-family: Raleway;
    font-size: 3rem;
    font-style: normal;
    font-weight: 500;
    line-height: 3.75rem;
    letter-spacing: -0.09rem;
}

#left9Data>p {
    align-self: stretch;
    color: #42445B;
    font-family: Poppins;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.75rem;

}

#left9Btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;

}

#left9Btn>button {
    display: flex;
    padding: 1.1875rem 1.5rem;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
    border-radius: 3.125rem;
    background: #4862B9;
    color: #FFF;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.35rem;
    border: 1px solid #4862b9;

}

#left9Btn>button svg {
    width: 1.5rem;
    height: 1.5rem;
}

#left9Btn>button:hover svg {
    filter: brightness(0.9) invert(0);
}

#left9OR {
    color: #4862B9;
    text-align: center;
    font-family: Figtree;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 900;
    line-height: 1.5rem;
    letter-spacing: 0.05625rem;
    text-transform: uppercase;
}

#left9Btn>button:hover {
    color: #4862b9;
    border: 1px solid #4862b9;
    border-radius: 50px;
    background-color: #fff;
}

#left9Btn2>button {
    display: flex;
    padding: 1.25rem 1.5rem;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
    border-radius: 3.125rem;
    border: 1px solid #4862B9;
    background-color: transparent;
    color: #4862B9;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.35rem;

}

#left9Btn2>button:hover {
    background-color: #4862b9;
    border: 1px solid #fff;
    border-radius: 50px;
    color: #fff;
}

#bottom9Right>img {
    width: 36.29725rem;
    height: 17.41569rem;
    flex-shrink: 0;

}








/* ************* ✅✅ Page10 ✅✅ ******************* */

#page10 {
    display: flex;
    /* width: 90rem; */
    padding: 6.25rem 7.5rem;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    /* width: 90rem; */
    height: 41.75rem;

}

#page10Top {
    display: flex;
    width: 75rem;
    justify-content: space-between;
    align-items: flex-start;

}

#top10Left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

#top10Left>img {
    width: 12.10625rem;
    height: 3.25rem;
}

#top10Left>p {
    color: #777;
    font-family: Poppins;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.375rem;

}

#top10Right {
    display: flex;
    align-items: flex-start;
    gap: 1.5rem;
}

#top10Right>img {
    width: 3rem;
    height: 3.00006rem;
    cursor: pointer;
}

#page10Bottom {
    display: flex;
    width: 75rem;
    justify-content: space-between;
    align-items: flex-start;
}

#bottom10Left {
    display: flex;
    align-items: flex-start;
    gap: 10rem;
}

.left10List {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.25rem;
    height: 15.43rem;
}

.left10List>h3 {
    color: #222;
    font-family: Poppins;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.left10List>ul>li {
    color: #535353;
    font-family: Poppins;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.5rem;
    list-style-type: none;
    gap: 5.25rem;
    cursor: pointer;
}

#bottom10Right {
    display: flex;
    width: 24.0625rem;
    align-items: flex-start;
    gap: 5rem;
    flex-shrink: 0;

}

.right10data {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.625rem;

}

.right10data>h3 {
    color: #222;
    font-family: Poppins;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.right10data>img {
    width: 85%;
    aspect-ratio: 3/2;
    object-fit: contain;
    cursor: pointer;

}